@charset "UTF-8";

//*** グローバル変数 ***//
$mainColor: #000000;  // 文字色

//*** mixin ***//
@mixin flexMode($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin displayGridMode($gap, $grid-template-columns ) {
    display: grid;
    gap: $gap;
    grid-template-columns: $grid-template-columns;
}

*    { box-sizing: border-box;}
html { font-size: 100%; }
body { font-family: "Meiryo"; color: $mainColor; }
img  { max-width: 100%; vertical-align: bottom; }
li   { list-style: none; }
a    { text-decoration: none; }
/* 横幅を設定するための共通クラス */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
/* /ここまで共通設定 */

/*-------------------------------------------
#header
-------------------------------------------*/

#header {
    margin-top: 100px;
    h1 {
        font-size: 1rem;
        font-weight: 400;
    }
}

/*-------------------------------------------
main
-------------------------------------------*/

main {
    display: flex;
    margin: 85px 0 110px;

    .flex-left {
        width: 40%;
    }

    .flex-right {
        width: 60%;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;

        li {
            width: calc(100% / 3);
            padding-left: 12px;
        }        
    }
}

/* レスポンシブ・ブレークポイント900px
------------------------------- */
@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
        .flex-left {
            width: 100%;
        }
        .flex-right {
            width: 100%;
            justify-content: space-between;

            li {
                width: 50%;
                padding-top: 12px;
                padding-left: 0;

                &:nth-child(odd) {
                    padding-right: 6px;
                }
                &:nth-child(even) {
                    padding-left: 6px;
                }
            }
        }
    }    
}
/*-------------------------------------------

-------------------------------------------*/

